<link rel="stylesheet" href="~/css/help.css" asp-append-version="true">

<hr />
<div class="help-content">
    <div class="title">
        Help center
    </div>
    <div class="help-body">
        <div class="help-item">
            <span class="help-item-icon"><i class="fa-solid fa-receipt"></i></span>
            <p class="help-item-content">Account</p>
        </div>
        <div class="help-item">
            <span class="help-item-icon"><i class="fa-brands fa-first-order-alt"></i></span>
            <p class="help-item-content">Orders</p>
        </div>
        <div class="help-item">
            <span class="help-item-icon"><i class="fa-solid fa-truck-fast"></i></span>
            <p class="help-item-content">Shipping and returns</p>
        </div>
    </div>
</div>